.form{
  width: 400px;
  margin-inline: auto;
  margin-block: 1rem;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 42, 42);
  padding: 1rem;
}

.form label{
  margin-block: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  align-items: center;
}

.form input{
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
}

.errMsg{
  color: rgb(228, 0, 0);
}

.form button{
  cursor: pointer;
  margin-block: 5px;
  width: 100px;
  margin-inline: auto;
}

.flipcard{
  color: rgb(110, 110, 254);
  cursor: pointer;
  margin-block: 1rem;
  text-align: center;
}